<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница админа</title>
</head>
<body>

<form action="/logout" method="POST">
  <button>logout</button>
</form>

<center>

  <h4>Все пользователи</h4>
  <table border="1" bordercolor="#808080" cellspacing="0" cellpadding="5">
    <tr>
      <th>ID</th>
      <th>Login</th>
      <th>Password</th>
      <th>Roles</th>
      <th>FirstName</th>
      <th>SecondName</th>
      <th>Cellphone</th>
    </tr>
    <tr th:each="user : ${all_users}">
      <td th:text="${user.getId()}">id</td>
      <td>
        <a th:href="@{      /profile/{login}
                                    (  login = ${ user.getLogin() }  )
                              }"
           th:text="${user.getLogin()}">login</a>
      </td>
      <td th:text="${user.getPassword()}">password</td>
      <td th:text="${user.getRoles()}">roles</td>
      <td th:text="${user.getFirstName()}">first name</td>
      <td th:text="${user.getSecondName()}">second name</td>
      <td th:text="${user.getCellphone()}">cellphone</td>
      <td>
        <form th:method="GET" th:action="@{/admin/{id}/update(id=${user.getId()})}">
          <input type="submit" value="Edit">
        </form>
      </td>
    </tr>
  </table>

  <br>
  <br>
  <form action="/admin/create">
    <button>Создать пользователя</button>
  </form>

  <br>
  <form action="/admin/delete">
    <button>Удалить пользователя</button>
  </form>

</center>
</body>
</html>
