<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin panel</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'}"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    <script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand inline">
        <b th:text="${currentuser.getUsername()}">name</b>
        with roles:
        <b class="font-weight-normal" th:text="${currentuser.getRoles()}">role</b>
    </div>
    <div>
        <a href="/login" class="text-secondary">Logout</a>
    </div>
</nav>

<div class="row no-gutters vh-100">

    <!--    панель слева     -->
    <div class="col-md-2 bg-white">
        <ul class="nav nav-pills flex-column mt-3">
            <a class="nav-item nav-link active" th:href="@{/admin}">Admin</a>
            <a class="nav-item nav-link" th:href="@{      /profile/{login}
                                    (  login = ${ currentuser.getLogin() }  )
                              }">User</a>
        </ul>
    </div>


<!--  панель  справа-->
    <div class="col-md-10 bg-light">
        <div class="container-fluid">
            <div class="h1 mt-3">Admin panel</div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                </li>
            </ul>
    <div class="tab-content">
        <!--                вкладка всех пользователей         -->
        <div class="tab-pane fade show active" id="users">

            <div class="col-md bg-light border">
                <h4 class=" mt-2 mb-3">All users</h4>
            </div>

            <div class="col-md bg-white border">
                <table id="allUser" class="table table-striped mt-4">
                    <thead>
                    <tr th:align="center">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>

                        <th>Cell</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:align="center" th:each="user : ${users}">
                    </tbody>
                </table>

                            <form class="editForm"
                                  th:method="GET"
                                  method="post"
                                  id="editForm"
                                  th:object="${user}">

                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                     aria-labelledby="editUser" aria-hidden="true">

                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editUser">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body col-md-8 align-self-center">
                                                <label for="edit_id" class="control-label"><b>ID</b></label>
                                                <input id="edit_id" type="text" class="form-control" value=""
                                                       disabled="disabled">
                                                <!--                                                disabled="disabled" поле с айди нельзя редактировать-->
                                                <br>
                                                <label for="edit_login" class="control-label"><b>Login</b> </label>
                                                <input id="edit_login" type="text" class="form-control" value="">
                                                <br>
                                                <label for="edit_firstname" class="control-label"><b>First name</b></label>
                                                <input id="edit_firstname" type="text" class="form-control" value="">
                                                <br>
                                                <label for="edit_lastname" class="control-label"><b>Last name</b></label>
                                                <input id="edit_lastname" type="text" class="form-control" value="">
                                                <br>
                                                <label for="edit_cell" class="control-label"><b>Cellphone</b></label>
                                                <input id="edit_cell" type="number" class="form-control" value="">
                                                <br>
                                                <label for="edit_password" class="control-label"><b>Password</b></label>
                                                <input id="edit_password" type="password" class="form-control" value="">
                                                <br>
                                                <label for="role"
                                                       class="form-label mb-0 fw-bold">Role</label>
                                                <select
                                                        class="custom-select"
                                                        multiple
                                                        size="2"
                                                        name="roles"
                                                        id="role">
                                                    <option selected name="ROLE_USER" value="ROLE_USER">USER</option>
                                                    <option name="ROLE_ADMIN" value="ROLE_ADMIN">ADMIN</option>
                                                </select>
                                                <br>

                                                <br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary"
                                                        data-toggle="modal">Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        <form class="deleteForm"
                              th:method="GET"

                              id="deleteForm"
                              th:object="${user}">

                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteUser" aria-hidden="true">

                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteUser">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body col-md-8 align-self-center">
                                            <label for="delete_id" class="control-label"><b>ID</b></label>
                                            <input id="delete_id" type="text" class="form-control" value=""
                                                   disabled="disabled">

                                            <br>
                                            <label for="delete_login" class="control-label"><b>Login</b> </label>
                                            <input id="delete_login" type="text" class="form-control" value="">
                                            <br>
                                            <label for="delete_firstname" class="control-label"><b>First name</b></label>
                                            <input id="delete_firstname" type="text" class="form-control" value="">
                                            <br>
                                            <label for="delete_lastname" class="control-label"><b>Last name</b></label>
                                            <input id="delete_lastname" type="text" class="form-control" value="">
                                            <br>
                                            <label for="delete_cell" class="control-label"><b>Cellphone</b></label>
                                            <input id="delete_cell" type="number" class="form-control" value="">
                                            <br>
                                            <label for="delete_password" class="control-label"><b>Password</b></label>
                                            <input id="delete_password" type="password" class="form-control" value="">
                                            <br>
                                            <label for="delete_roles" class="control-label"><b>Roles</b></label>
                                            <input id="delete_roles" type="text" class="form-control" value="">
                                            <br>
                                                                        <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                    data-toggle="modal">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
        </div>


<!--                         New user  -->
                <div class="tab-pane fade" id="newUser">
                    <div class="col-md bg-light border">
                        <h4 class=" mt-2 mb-3">Add new user</h4>
                    </div>
                    <div class="col-md bg-white border">
                        <div class="row justify-content-center">
                                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-8 text-center">
                                            <form th:object="${new_user}"
                                                  action="/api/"
                                                  th:method="post">


                                                <label for="login"
                                                       class="form-label mb-0 fw-bold">Login</label>
                                                <input id="login"
                                                       type="text"
                                                       class="form-control
                                                                                           form-control-sm mb-3"

                                                       th:name="login">

                                                <label for="firstname"
                                                       class="form-label mb-0 fw-bold">First name</label>
                                                <input id="firstname"
                                                       style="background-color: #ffeb99"
                                                       type="text"
                                                       class="form-control
                                                                                           form-control-sm mb-3"

                                                       th:name="firstName">

                                                <label for="lastname"
                                                       class="form-label mb-0 fw-bold">Last name</label>
                                                <input id="lastname"
                                                       style="background-color: #ffeb99"
                                                       type="text"
                                                       class="form-control form-control-sm mb-3"

                                                       th:name="secondName">

                                                <label for="cell"
                                                       class="form-label mb-0 fw-bold">Cell</label>
                                                <input id="cell"
                                                       style="background-color: #ffeb99"
                                                       type="Cell"
                                                       class="form-control form-control-sm mb-3"

                                                       th:name="cellphone">

                                                <label for="password"
                                                       class="form-label mb-0 fw-bold">Password</label>
                                                <input id="password"
                                                       type="password"
                                                       class="form-control form-control-sm mb-3"

                                                       th:name="password">

                                                <label for="roles"
                                                       class="form-label mb-0 fw-bold">Role</label>
                                                <select id="roles"
                                                        class="form-select form-select-sm mb-3"
                                                        multiple
                                                        size="2"
                                                        name="new_user_roles">
                                                    <option value="ROLE_USER">USER</option>
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                </select>
                                                <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>
</div>










<script type="text/javascript" src="/admin.js"></script>
</body>