<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменить пользователя</title>
</head>
<body>

<form action="/logout" method="POST">
  <button>logout</button>
</form>

<br>
<br>
<form action="/admin">
  <button>Страница админа</button>
</form>
<br>
<br>
<br>
<br>

<center>

  <h4>Изменить пользователя по ID и нескольким полям:</h4>


  <form th:method="PATCH" action= "/admin/update" th:object="${user}">
    <br>
    <label for="id">ID</label><br>
    <input type="text" th:field="*{id}" id="ID"/>
    <br><br>
    <label for="id">Login</label><br>
    <input type="text" th:field="*{login}" id="login"/>
    <br>
    <label for="id">password</label><br>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <label for="id">Roles</label><br>
    <input type="text" name="user_roles" required placeholder="roles (admin, user, ... )">
    <br>
    <label for="firstName">firstName</label><br>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="secondName">secondName</label><br>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <br>
    <label for="cellphone">cellphone</label><br>
    <input type="text" th:field="*{cellphone}" id="cellphone"/>

    <br>
    <input type="submit" value="Изменить"/>

  </form>

</center>
</body>
</html>